
 <!-- class="d-flex justify-content-between" -->
 <mat-toolbar color="primary" style="min-width: 500px;">
  <span>BeigeStoreApp</span>
  <span class="example-spacer"></span>

    <button mat-button color="accent" routerLink="/dashboard/productos" routerLinkActive="router-link-active" >Productos admin</button>
    <button mat-button color="accent" routerLink="/dashboard/about" routerLinkActive="router-link-active">Sobre nosotros</button>
    <button mat-button color="accent" routerLink="/dashboard/productosPublicos" routerLinkActive="router-link-active">Productos publicos</button>


    <span class="example-spacer"></span>
    <button routerLink="/dashboard/carrito" mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button routerLink="/logout" mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>logout</mat-icon>
    </button>

    <!-- <button mat-button color="accent">Carrito</button>
    <button mat-icon-button color="accent">
      <mat-icon>accessible</mat-icon>
    </button> -->

</mat-toolbar>
