// .example-card {
//   display: flex;

// }
.product-list{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.caja{
  // width: 40%;
  // height: 300px;

}
// .example-header-image {
//   background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
//   background-size: cover;
// }
